{% extends 'base.html.twig' %}

{% block body %}
    <div id="container">

        {% include '::flashMessage.html.twig' %}

        <div class="col-lg-8 col-lg-offset-1">

            <h2>Articles</h2>

            <table class="table table-bordered">
                <tr>
                    <th>ID</th>
                    <th>TITLE</th>
                    <th>CONTENT</th>
                </tr>
                {% for article in articles %}
                    <tr>
                        <td>{{ article.id }}</td>
                        <td>{{ article.title }}</td>
                        <td>{{ article.content|slice(0, 50) }}</td>
                    </tr>
                {% endfor %}
            </table>

        </div>

        <div class="col-lg-8 col-lg-offset-1 well">
            <a href="{{ path('article_create') }}" class="btn btn-default">Create a new</a>
        </div>

    </div>
{% endblock %}
